.display
{
    /* background-color: red; */
    border: 2px solid black;
    margin: 200px 590px 100px 550px;


}
input{
    display: flex;
    flex: column;
    height: 30px;
    width: 260px;
    margin-top: 20px;
    margin-left: 10px;
}
.button
{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100px;
    height: 30px;
}
